.bdy {
  background-color: white;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Adjusted for smaller screens */
}

.applicationContainer {
  width: 90%;
  margin: 20px auto; /* Added margin for better spacing */
  padding: 20px;
  background-color: #e2d9d9b4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0px;
  left: 0;
  font-weight: bold;
}

.coder {
  width: 100%;
  margin-right: 0;
}

.title {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
}

.submitButton {
  background-color: #1186d4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.submitButton:hover {
  background-color: #0d21d8;
}

.errorWrapper {
  color: red;
  margin-top: 5px;
}

/* Media query for screens smaller than 760px */
@media screen and (max-width: 760px) {
  .applicationContainer {
    width: 80%;
  }
}

/* Media query for screens smaller than 468px */
@media screen and (max-width: 468px) {
  .applicationContainer {
    width: 95%;
  }
}
