.logos {
    color: whitesmoke;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      position: relative;
      top: 90px;
      font-weight: bold;
      
  }
  