.teamSection {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #f0f8ff; 
}

.sectionTitle {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.teamCard {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #e2eaec;
  width: 100%; 
  height: 290px; 
  box-sizing: border-box; 
}

.memberName {
  margin: 10px 0;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.memberImage {
  width: 70px; 
  height: 70px; 
  border-radius: 50%;
}

.memberTitle {
  margin: 10px 0;
  font-size: 1.2rem;
  color: black;
}

.memberDescription {
  font-size: 1rem;
  color: #555;
}


@media only screen and (max-width: 320px) {
  .teamSection {
    padding: 20px;
  }

  .teamCard {
    padding: 15px;
  }

  .sectionTitle {
    font-size: 24px;
  }

  .memberTitle {
    font-size: 18px;
  }

  .memberDescription {
    font-size: 14px;
  }
  .teamGrid {
    grid-template-columns: 1fr; 
  }

  .teamCard {
    width: 100%; 
  }
}
@media screen and (max-width: 760px) {
  .teamGrid {
    grid-template-columns: 1fr; 
  }
}

.teamCard {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #e2eaec;
  width: 100%; 
  height: 290px; 
  box-sizing: border-box; 
}

.memberName {
  margin: 10px 0;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.memberImage {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
}


@media screen and (max-width: 468px) {
  .memberImage {
    width: 50px; 
    height: 50px; 
  }

  .memberName,
  .memberTitle,
  .memberDescription {
    font-size: 1rem; 
  }
}
